{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Formations</h1>
<section class="container">
{% for formation in formations %}
    <article>
    <h4>{{ formation.titre }}</h4>
    <p>{{ formation.resume }}</p>
    <p>{{ formation.duree }} jours</p>

    <p><a href="{{ formation.id }}">Lien</a></p>
    </article>
{% endfor %}
</section>
    

    <a href="{{ path('app_formations_new') }}">Create new</a>
{% endblock %}
